<div class="login-container">
  <h2 class="login-title">Login Amministratore</h2>

  <form (ngSubmit)="onSubmit()" >
    
    <!-- Campo Mail -->
    <div class="form-group">
      <label class="form-label">Mail *</label>
      <input 
        type="email" 
        [(ngModel)]="mail"  
        name="mail" 
        required 
        #mailField="ngModel"
        [class.input-error]="mailField.invalid && mailField.touched"
        class="form-input" 
        placeholder="Inserisci mail">
      <span *ngIf="mailField.invalid && mailField.touched" class="field-error">
        La mail è obbligatoria.
      </span>
    </div>

    <!-- Campo Password -->
    <div class="form-group">
      <label class="form-label">Password *</label>
      <input 
        type="password" 
        [(ngModel)]="password" 
        name="password" 
        required 
        #passwordField="ngModel"
        [class.input-error]="passwordField.invalid && passwordField.touched"
        class="form-input" 
        placeholder="Inserisci password">
      <span *ngIf="passwordField.invalid && passwordField.touched" class="field-error">
        La password è obbligatoria.
      </span>
    </div>

    <!-- Pulsante Accedi -->
    <button type="submit" class="submit-button" >
      Accedi
    </button>

  </form>

  <!-- Errore credenziali errate -->
  <p *ngIf="errorMessage" class="global-error">
    {{ errorMessage }}
  </p>
</div>
