<div class="admin-menu-container">
    <button class="btn-titolo" [class.active]="activeTab === 'defunti'" (click)="activeTab = 'defunti'">Lista Defunti</button>
    <button class="btn-titolo" [class.active]="activeTab === 'sepolture'" (click)="activeTab = 'sepolture'">Lista Sepolture</button>
    <button class="btn-titolo" [class.active]="activeTab === 'concessionari'" (click)="activeTab = 'concessionari'">Lista Concessionari</button>
</div>

@if (activeTab === 'defunti') {
<!-- Bottone sopra la tabella -->
<button type="button" class="btn-action" (click)="openDialog()">
  Aggiungi Defunto
</button>

<!-- Tabella HTML Standard -->
<table class="custom-table">
  <thead>
    <tr>
      <th>Id.</th>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Sesso</th>
      <th>Codice Fiscale</th>
      <th>Azioni</th>
    </tr>
  </thead>
  <tbody>
    @for (element of dataSource; track element.id) {
      <tr>
        <td>{{element.id}}</td>
        <td>{{element.nome}}</td>
        <td>{{element.cognome}}</td>
        <td>{{element.sesso}}</td>
        <td>{{element.codiceFiscale}}</td>
        <td>
          <button type="button" (click)="deleteItem(element.id!+'')">
            Elimina
          </button>

          <button type="button" (click)="openDialog(element)">
            Modifica
          </button>

        </td>
      </tr>
    }
  </tbody>
</table>
}

@if (activeTab === 'sepolture') {
<!-- Tabella HTML Standard -->
<table class="custom-table">
  <thead>
    <tr>
      <th>Id.</th>
      <th>Azioni</th>
    </tr>
  </thead>
  <tbody>
    @for (element of dataSource; track element.id) {
      <tr>
        <td>{{element.id}}</td>
        <td>

        </td>
      </tr>
    }
  </tbody>
</table>
  
}