<h2 mat-dialog-title>Registrazione di un nuovo defunto</h2>
<mat-dialog-content>
  <p>Nome Defunto</p>
  <mat-form-field>
    <mat-label>Nome Defunto</mat-label>
    <input matInput [(ngModel)]="nome" />
  </mat-form-field>

  <p>Cognome Defunto</p>
  <mat-form-field>
    <mat-label>Cognome Defunto</mat-label>
    <input matInput [(ngModel)]="cognome" />
  </mat-form-field>

  <p>Codice fiscale Defunto</p>
  <mat-form-field>
    <mat-label>Codice fiscale Defunto</mat-label>
    <input matInput [(ngModel)]="codiceFiscale" />
  </mat-form-field>

  <p>Sesso Defunto</p>
  <mat-form-field>
    <mat-label>Sesso Defunto</mat-label>
    <input matInput [(ngModel)]="sesso" />
  </mat-form-field>

  <p>Data di nascita Defunto</p>
  <mat-form-field>
    <mat-label>Data di nascita Defunto</mat-label>
    <input matInput [(ngModel)]="dataNascita" />
  </mat-form-field>

  <p>Data di decesso Defunto</p>
  <mat-form-field>
    <mat-label>Data di decesso Defunto</mat-label>
    <input matInput [(ngModel)]="dataMorte" />
  </mat-form-field>

  <p>Luogo di decesso Defunto</p>
  <mat-form-field>
    <mat-label>Luogo di decesso Defunto</mat-label>
    <input matInput [(ngModel)]="luogoMorte" />
  </mat-form-field>

  <p>Luogo di nascita Defunto</p>
  <mat-form-field>
    <mat-label>Luogo di nascita Defunto</mat-label>
    <input matInput [(ngModel)]="luogoNascita" />
  </mat-form-field>

  <p>Stato Civile Defunto</p>
  <mat-form-field>
    <mat-label>Stato Civile Defunto</mat-label>
    <input matInput [(ngModel)]="statoCivile" />
  </mat-form-field>

  <p>Causa Morte Defunto</p>
  <mat-form-field>
    <mat-label>Causa Morte Defunto</mat-label>
    <input matInput [(ngModel)]="causaMorte" />
  </mat-form-field>

  <p>Indirizzo Defunto</p>
  <mat-form-field>
    <mat-label>Indirizzo Defunto</mat-label>
    <input matInput [(ngModel)]="indirizzoUltimaResidenza" />
  </mat-form-field>

  <p>Epitaffio Defunto</p>
  <mat-form-field>
    <mat-label>Epitaffio Defunto</mat-label>
    <input matInput [(ngModel)]="epitaffio" />
  </mat-form-field>

  <p>Settore Defunto</p>
  <mat-form-field>
    <mat-label>Settore Defunto</mat-label>
    <input matInput [(ngModel)]="settore" />
  </mat-form-field>

  <p>Id sepoltura Defunto</p>
  <mat-form-field>
    <mat-label>Id sepoltura Defunto</mat-label>
    <input matInput [(ngModel)]="idsepoltura" />
  </mat-form-field>

  <p>Data sepoltura Defunto</p>
  <mat-form-field>
    <mat-label>Data sepoltura Defunto</mat-label>
    <input matInput [(ngModel)]="dataSepoltura" />
  </mat-form-field>

  <p>Amministratore Defunto</p>
  <mat-form-field>
    <mat-label>Amministratore Defunto</mat-label>
    <input matInput [(ngModel)]="amministratore" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="save()">Save</button>
</mat-dialog-actions>
