<!-- Componente principale dell'applicazione Angular. Si lega a <app-root> del file index.html e crea la barra di navigazione e il 
piè di pagina che rimangono fissi durante la navigazione e lascia lo spazio per il contenuto dei componenti che si aggancia a router-outlet -->

<div class="app-container">
  <header class="main-header">
    <div class="logo-container">
      <!-- Logo a sinistra -->
      <a class="navbar-brand" href="/">     <!-- Link al logo che porta alla home page -->
          <img src="Logo.svg" alt="Logo" class="logo">
      </a>
    </div>

    <nav class="nav-links">   <!-- Link della dashboard amministratore destra -->
      <a routerLink="/dashboardadmin" class="admin-link"> Dashboard Amministratore</a>
    </nav>
  </header>

  <main class="content">
    <router-outlet></router-outlet>     <!-- Qui vengono caricate le componenti in base alla rotta -->
  </main>

  <footer class="main-footer">    <!-- Footer con 3 colonne -->
    <div class="footer-content">

      <div class="footer-section">
        <img src="Logo.svg" class="white-logo" alt="Logo">
        <p>In memoria della nostra comunità dal 1869.</p>
      </div>

      <div class="footer-section">
        <h3>Orari di Apertura</h3>
        <p>Lun-Ven: 9:00 - 19:00<br>Sab-Dom: 10:00 - 17:00</p>
      </div>

      <div class="footer-section">
        <h3>Contatti</h3>
        <p>Tel: (+39) 012 345 6789<br>Mail: info&#64;piccolocimiteromonumentale.it</p>  
      </div>

    </div>
  </footer>
</div>
